%wrapper
  %div.chat-side
    %div.side-header
      %div.side-header__box
        %p.side-header__box__user-name USER NAME
        %ul.side-header__box__menu
          %li.side-header__box__menu__newgroup
            
              %i.far.fa-edit
          %li.side-header__box__menu__edit-user
            %a{href: '#'}
              %i.fas.fa-cog
    %div.groups
      %div.group
        %a{href: '#'}
          %p.group__group-name GROUP NAME
          %p.group__latest_message THIS IS MESSAGE